@model Project_NotesDeFrais.Models.PaginatedList<Project_NotesDeFrais.Models.ExpanseTypesModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Employers</h2>

@using (Ajax.BeginForm("Searche", "ExpanseTypes", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "SuccessMessage",
    OnFailure = "FailMessage",
    UpdateTargetId = "projectTable"
}))
{
@Html.AntiForgeryToken()
<input type="text" name="query" />
<input type="submit" value="Search" class="btn-success" />

}
<br />
<br />
<table class="table table-striped">
    <th>Nom</th>
    <th>Cellin</th>
    <th>Fixed</th>
    <th>OnlyManager</th>
    <th>Tva</th>
    <th>Edition</th>
    <th>Suppression</th>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Name</td>
            <td>@s.Ceiling</td>
            <td>@s.Fixed</td>
            <td>@s.OnlyManagers</td>
            <td><a href="@Url.Action("Searche", "Tvas", new { query = s.Tvas.Name })">@s.Tvas.Name </a></td>
            <td><input type="button" value="Edit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Edit", "ExpanseTypes", new { id = s.ExpenseType_ID}) + "'");" /></td>
            <td><input type="button" value="Supprimer" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Delete" , "Simulation" , new { id = s.ExpenseType_ID})+"'");" /></td>
        </tr>
    }
</table>
<a href="?pageIndex=@(Model.PageIndex + 1)"><input type="button" value="suivant >>" class="btn btn-default" /></a>
<a href="?pageIndex=@(Model.PageIndex - 1)"><input type="button" value="<< precedent " class="btn btn-default" /></a>
