@model  Project_NotesDeFrais.Models.ProjectsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("", "Projet/createProject", new { id_Customer = @ViewData["id_Customer"] }, FormMethod.Post ))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend> @ViewData["id_Customer"] </legend>

        <div class="editor-label">
            @Html.LabelFor(model => @Model.Name)
            @Html.TextBoxFor(model => @Model.Name, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Description)
            @Html.TextBoxFor(model => @Model.Description, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Description, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Budget)
            @Html.TextBoxFor(model => @Model.Budget, new { @required = "required" }) 
            @Html.ValidationMessageFor(model => @Model.Budget, "", new { @class = "text-danger" })
        </div>
        <p>
            <button type="submit" class="btn-success"> Enregistrer </button>
        </p>
    </fieldset>
}


