@model  Project_NotesDeFrais.Models.TvasModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("", "Tvas/createTvas", "", FormMethod.Post, new { @class = "form-vertical", role = "form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nouveau produit</legend>
        <div class="editor-label">
            @Html.LabelFor(model => @Model, new { @class = "control-label col-sm-1" })
            @Html.TextBoxFor(model => @Model.Name, new { @required = "required", @class = " form-control" })
            @Html.ValidationMessageFor(model => @Model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Value, new { @class = "control-label col-sm-1" })
            @Html.TextBoxFor(model => @Model.Value, new { @required = "required", @class = " form-control" })
            @Html.ValidationMessageFor(model => @Model.Value, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn-success"> Enregistrer </button>
        </div>
    </fieldset>
}
