@model  Project_NotesDeFrais.Models.PaginatedList<Project_NotesDeFrais.Models.EmployeesModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Employers</h2>
<table class="table table-striped">
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>User</th>
    <th>Pole</th>
    <th>Edition</th>
    <th>Suppression</th>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.FirstName</td>
            <td>@s.LastName</td>
            <td>@s.Email</td>
            <td>@s.Telephone</td>
            <td>@s.AspNetUsers.UserName</td>
            @if (s.Poles.Name == "inconnu")
            {
                <td><a href="#">pas encore ajouté à un pole</a></td>

            }
            else
            {
                <td><a href="@Url.Action("Searche", "Poles", new { query = s.Poles.Name }) ">@s.Poles.Name</a></td>
            }

<td><input type="button" value="Edit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Edit", "Employees", new { id = s.Employee_ID}) + "'");" /></td>
            <td><input type="button" value="Supprimer" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Delete" , "Simulation" , new { id = s.Employee_ID})+"'");" /></td>
        </tr>
    }
</table>
<br />
<a href="?pageIndex=@(Model.PageIndex + 1)"><input type="button" value="suivant >>" class="btn btn-default" /></a>
<a href="?pageIndex=@(Model.PageIndex - 1)"><input type="button" value="<< precedent " class="btn btn-default" /></a>