@model   Project_NotesDeFrais.Models.PaginatedList<Project_NotesDeFrais.Models.ExpansesModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Les Frais</h2>

@using (Ajax.BeginForm("Searche", "Expanses", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "SuccessMessage",
    OnFailure = "FailMessage",
    UpdateTargetId = "projectTable"
}))
{
    @Html.AntiForgeryToken()
    <input type="text" name="query" />
    <input type="submit" value="Search" class="btn-success" />

}
<br />
<br />
<div id="projectTable">
    <table class="table table-striped">
        <th>nom client</th>
        <th>nom projet</th>
        <th>type de frais</th>
        <th>jour</th>
        <th>Amount HT</th>
        <th>Amount TTC</th>
        <th>Amount TVA</th>
        <th>Editer</th>
        <th>Supprimer</th>
        @foreach (var s in Model)
        {
            <tr>
                <td><a href="@Url.Action("Searche", "Customer", new { query = s.Customers.Name }) "> @s.Customers.Name  </a></td>
                <td><a href="@Url.Action("Searche", "Projet", new { query = s.Projects.Name }) "> @s.Projects.Name  </a></td>
                <td><a href="@Url.Action("Searche", "ExpanseTypes", new { query = s.ExpanseTypes.Name }) "> @s.ExpanseTypes.Name </a></td>
                <td>@s.Day</td>
                <td>@s.Amount_HT</td>
                <td>@s.Amount_TTC</td>
                <td>@s.Amount_TVA</td>
                <td><input type="button" value="Edit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Edit", "Simulation", new { id = s.ExpanseReport_ID}) + "'");" /></td>
                <td><input type="button" value="Supprimer" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Delete" , "Simulation" , new { id = s.ExpanseReport_ID})+"'");" /></td>
            </tr>
        }
    </table><br />
    <a href="?pageIndex=@(Model.PageIndex + 1)"><input type="button" value="suivant >>" class="btn btn-default" /></a>
    <a href="?pageIndex=@(Model.PageIndex - 1)"><input type="button" value="<< precedent " class="btn btn-default" /></a>
</div>

   
    @Html.ActionLink("nouveau frais", "popup", "expanses", "" ,new {id= "ajoutType" })
    
   <div id='myModal' class='modal fade in' style="padding:10px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>



