@model Project_NotesDeFrais.Models.EmployeesModel

 @{ 
     Layout = "~/Views/Shared/_Layout.cshtml";
         }
<h2>Creation Employer</h2>
@using (Html.BeginForm("", "NotesDeFrais/CreatEmploye", "", FormMethod.Post, new { @class="form-vertical", role="form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nouveau Employer</legend>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.FirstName)
            @Html.TextBoxFor(model => @Model.FirstName, new { @required = "required" , @class = " form-control" })
            @Html.ValidationMessageFor(model => @Model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            
            @Html.LabelFor(model => @Model.LastName)
            @Html.TextBoxFor(model => @Model.LastName, new { @required = "required" , @class = " form-control" })
            @Html.ValidationMessageFor(model => @Model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
          

            @Html.LabelFor(model => @Model.Email)
            @Html.TextBoxFor(model => @Model.Email, new { type = "email" , @required = "required", @class= " form-control" })
            @Html.ValidationMessageFor(model => @Model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="editor-label">
           
            @Html.LabelFor(model => @Model.Telephone)
            @Html.TextBoxFor(model => @Model.Telephone, new { @required = "required" , @class = " form-control" })
            @Html.ValidationMessageFor(model => @Model.Telephone, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            <select class="selectpicker">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>
        <div class="editor-label">
            <select class="selectpicker">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
        </div>
        <p>
            <button type="submit" class="btn-success"> Enregistrer </button>
        </p>
    </fieldset>
}
<br />
<a href="?pageIndex=@(Model.PageIndex + 1)"><input type="button" value="suivant >>" class="btn btn-default" /></a>
<a href="?pageIndex=@(Model.PageIndex - 1)"><input type="button" value="<< precedent " class="btn btn-default" /></a>
