@model List<Project_NotesDeFrais.Models.AspNetRoles>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
@using (Html.BeginForm("addRoleToUser", "Roles", "", FormMethod.Post, new { @class = "form-vertical", role = "form" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Ajouter des role à des utilisateur</legend>
        <div  class="form-group">
            @Html.Label("Role", new { @class = "control-label col-sm-1" })
            <select class="form-control" name="roleSelected">
            @foreach (var s in Model)
            {
                <option>@s.Name</option>
            }              
            </select>
        </div>
        <div  class="form-group">
            @Html.Label("Utilisateur", new { @class = "control-label col-sm-1" })
            <select class="form-control" name="userSelected">
                @foreach (var u in Model)
                {
                    foreach (var user in u.AspNetUsersList)
                    {
                        <option value="@user.Id">@user.UserName</option>
                      
                    }
                    break;
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-success"> Ajouter </button>
        </div>

    </fieldset>
}


