@model  Project_NotesDeFrais.Models.ExpanseReportsModel

@using (Html.BeginForm("modifCommentExpanseReports", "ExpanseReports", new { idExpanseReport = @Model.ExpanseReport_ID}, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Commentaire de modification</legend>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.ManagerComment)
            @Html.TextAreaFor(model => @Model.ManagerComment, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.ManagerComment, "", new { @class = "text-danger" })
        </div>
        <p>
            <button type="submit" class="btn-success"> Enregistrer </button>
        </p>
    </fieldset>
}


