@model  Project_NotesDeFrais.Models.ExpanseReportsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("", "ExpanseReports/createExpanseReportsDateDay", "", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nouvelle Notes de frais</legend>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.CreationDate)
            @Html.TextBoxFor(model => @Model.CreationDate, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.CreationDate, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Year)
            @Html.TextBoxFor(model => @Model.Year, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Year, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Month)
            @Html.TextBoxFor(model => @Model.Month, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Month, "", new { @class = "text-danger" })
        </div>
        <p>
            <button type="submit" class="btn-success"> Enregistrer </button>
        </p>
    </fieldset>
}





