@model  Project_NotesDeFrais.Models.CustomersModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
     
@using (Html.BeginForm("", "Customer/createCustomer", "", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nouveau produit</legend>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Name)
            @Html.TextBoxFor(model => @Model.Name, new { @required = "required"})
            @Html.ValidationMessageFor(model => @Model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Code)
            @Html.TextBoxFor(model => @Model.Code, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Expanses)
            @Html.TextBoxFor(model => @Model.Expanses, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Expanses, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.Projects)
            @Html.TextBoxFor(model => @Model.Projects, new { @required = "required" })
            @Html.ValidationMessageFor(model => @Model.Projects, "", new { @class = "text-danger" })
        </div>
        <p>
            <button type="submit" class="btn-success"> Enregistrer </button>
        </p>
    </fieldset>
}


